parameters:
  errorFormat: github
  treatPhpDocTypesAsCertain: false
  paths:
    - src
    - test
  excludePaths:
    - src/PhpCsFixer/*
    - src/Qc/Task/Cs.php
    - src/Qc/Task/Md.php
    - src/Qc/Task/Loc.php
