<?php
/**
 * Horde Components Configuration File
 *
 * This file contains the configuration settings for the Horde components
 * helper.
 *
 * Strings should be enclosed in 'quotes'.
 * Integers should be given literally (without quotes).
 * Boolean values may be true or false (never quotes).
 *
 * PHP Version 7
 */

/**
 * Whups (bugs.horde.org) Credentials
 *
 * Username and password for updating bugs.horde.org (the Horde bug tracker).
 * Required for the Bugs release task which updates Whups versions.
 * Make sure you belong to the "horde" group on bugs.horde.org.
 */
$conf['whups.user'] = '';
$conf['whups.pass'] = '';

/* From: address for announcements. */
$conf['from'] = 'Full name <user@horde.org>';

/**
 * GitHub API Personal Access Token
 *
 * Used for GitHub API operations including:
 * - Creating releases
 * - Managing pull requests
 * - Checking CI status
 * - Uploading release assets
 *
 * Generate a token at: https://github.com/settings/tokens
 * Required scopes: repo, read:org
 *
 * SECURITY NOTE: This token grants access to your GitHub repositories.
 * Keep it secure and never commit it to version control.
 *
 * PRECEDENCE: This setting can be overridden by:
 * 1. CLI argument: --github-token=ghp_xxx (highest precedence)
 * 2. Environment variable: GITHUB_TOKEN
 * 3. User config: ~/.config/horde/components.php
 * 4. This file: config/conf.php (if copied from .dist)
 *
 * Leave empty to disable GitHub integration or rely on GITHUB_TOKEN env var.
 */
$conf['github.token'] = '';

/**
 * Horde Web Repository Directory
 *
 * Path to a checkout of the horde-web repository (www.horde.org website).
 * This directory contains the SQLite database for version tracking.
 */
$conf['hordeweb.dir'] = '/var/www/horde-web';

// Target directory for a developer installation. The webroot will be the ./web dir under that install dir
$conf['install.dir'] = '/var/www/horde-dev';

/**
 * Vendor: Used by the composer, packagist, satis and git-related tasks
 * Defaults to 'horde' if unset
 */
// $conf['vendor'] = 'horde';

/**
 * SCM Repository Base URL
 *
 * The base URL for cloning remote git repositories.
 * Used to construct clone URLs: scm.repo.base + ComponentName.git
 *
 * Defaults to https://github.com/{vendor}/ if unset
 * If you configure this, $vendor will NOT be appended
 *
 * Examples:
 *   https://github.com/horde/        (default for vendor=horde)
 *   https://git.mycompany.com/horde/ (custom git server)
 */
//$conf['scm.repo.base'] = 'https://git.mycompany.com/horde/';

/**
 * Composer Repository Type
 *
 * Type of repository hints to generate in composer.json files
 * Default is not to generate any hints. Dependencies will be from packagist.
 *
 * Options:
 *   'vcs'                       - Generate a VCS repo source per horde internal dependency
 *   'satis:https://satis.url'   - Generate a satis source for all horde namespace
 */
// $conf['composer.repo'] = 'vcs';
// $conf['composer.repo'] = 'satis:https://satis.horde.org';

/**
 * Composer Version Override
 *
 * Tweak all dependency versions to a common branch name or version.
 * This is used by the horde-components composer command and
 * the composer release task unless overwritten there.
 *
 * Default: Depend on versions from .horde.yml
 *
 * Examples:
 *   'dev-master'           - Depend on master branch
 *   'dev-FRAMEWORK_6_0'    - Depend on FRAMEWORK_6_0 branch
 *   'dev-staging'          - Depend on a staging branch
 */
$conf['composer.version'] = 'dev-FRAMEWORK_6_0';

/* Well known composer native substitutes for pear dependencies */
$conf['composer.opts']['pear-substitutes'] = [
    ['pear.php.net/Archive_Tar' =>
        ['source' => 'Packagist', 'name' => 'pear/archive_tar']],
    ['pear.php.net/Console_Color2' =>
        ['source' => 'Packagist', 'name' => 'pear/console_color2']],
    ['pear.php.net/Net_DNS2' =>
        ['source' => 'Packagist', 'name' => 'pear/net_dns2']],
    ['pear.php.net/Console_Table' =>
        ['source' => 'Packagist', 'name' => 'pear/console_table']],
    ['pear.php.net/PHP_CodeSniffer' =>
        ['source' => 'Packagist', 'name' => 'squizlabs/php_codesniffer']],
    ['pear.phpunit.de/phpcpd' => ['source' => 'Packagist', 'name' => 'sebastian/phpcpd']],
    ['pear.phpunit.de/phpdcd' => ['source' => 'Packagist', 'name' => 'sebastian/phpdcd']],
    ['pear.phpunit.de/phploc' => ['source' => 'Packagist', 'name' => 'phploc/phploc']]
];

/**
 * Configure release pipelines
 */

/**
 * Upstream pipeline
 *
 * Usage: horde-components path/to/component release for upstream
 *
 * The upstream pipeline is similar to the original pipeline
 *
 * Added Steps:
 * - checkout of the correct branch, prevent accidental release from master
 * - writing an updated composer file
 * - Pushing to github
 * - Notifying to Packagist
 *
 * Removed Steps:
 * - None
 *
 */
$conf['pipeline']['release']['upstream'] = [
    // Checkout the FRAMEWORK_5_2 branch, don't accidentally release master
    ['name' => 'GitBranch', 'options' => [
        'git_branch' => 'FRAMEWORK_5_2',
        'git_branch_prereq' => false
        ]
    ],
    ['name' => 'Unit'],
    ['name' => 'Changelog'],
    ['name' => 'Timestamp'],
    ['name' => 'CurrentSentinel'],
    // By default, upload to Pirum server after generating
    ['name' => 'Package', 'options' => ['upload' => 'true']],

    // The composer task will use global options like composer_opts,
    // composer_version, composer_repo unless explicitly overwritten here
    ['name' => 'Composer'],
    ['name' => 'CommitPreRelease'],
    ['name' => 'TagRelease'],
    ['name' => 'Announce'],
    ['name' => 'Website'],
    ['name' => 'Bugs'],
    ['name' => 'NextVersion'],
    ['name' => 'CommitPostRelease'],
    ['name' => 'GitPush'],
    // Nudge Packagist that we have an update
    // Requires API key. Does not work for new packages not yet registered.
    ['name' => 'Packagist', 'options' => [
        'packagist_api_key' => '',
        'packagist_user' => 'horde',
        'vendor' => 'horde'
        ]
    ]
    // Optional: A local Satis installation satis.horde.org
    // satis_bin: path to satis cli
    // satis_json: path to satis json file
    // satis_outdir: path where satis should write the repository
    // satis_push: If the output dir is a git checkout, try to commit and push?
/*    ['name' => 'Satis', 'options' => [
        'satis_bin' => '',
        'satis_json' => '',
        'satis_outdir' => '',
        'satis_push' => true
        ]
    ]*/
];

/**
 * Downstream pipeline
 *
 * Usage: horde-components path/to/component release for downstream
 *
 * The downstream pipeline is for developing horde based code in your own lab
 *
 * Added Steps:
 * - checkout of the correct branch, prevent accidental release from master
 * - writing an updated composer file
 * - Pushing to github
 * - Writing to a satis repository
 *
 * Removed Steps:
 * - Package/Upload (Pear)
 * - Announce
 * - Website
 * - Bugs
 *
 */
$conf['pipeline']['release']['downstream'] = [
    // Ensure we create release from the staging branch. Break if not.
    ['name' => 'GitBranch', 'options' => [
        'git_branch' => 'staging',
        'git_branch_prereq' => true
        ]
    ],
    ['name' => 'Unit'],
    ['name' => 'Changelog'],
    ['name' => 'Timestamp'],
    ['name' => 'CurrentSentinel'],
    // Pear related steps have been removed
    // The composer task will use global options like composer_opts,
    // composer_version, composer_repo unless explicitly overwritten here
    ['name' => 'Composer', 'options' => ['composer_version' => '' ] ],
    ['name' => 'CommitPreRelease'],
    ['name' => 'TagRelease'],
    // Increase version numbers for development mode
    ['name' => 'NextVersion'],
    // Force our component to require staging branch dependencies
    // This is useful for development mode
    ['name' => 'Composer', 'options' => ['composer_version' => 'dev-FRAMEWORK_6_0']],
    ['name' => 'CommitPostRelease'],
    ['name' => 'GitPush'],
    // Our downstream pipeline uses satis rather than packagist
    // satis_bin: path to satis cli
    // satis_json: path to satis json file
    // satis_outdir: path where satis should write the repository
    // satis_push: If the output dir is a git checkout, try to commit and push?
    ['name' => 'Satis', 'options' => [
        'satis_bin' => '',
        'satis_json' => '',
        'satis_outdir' => '',
        'satis_push' => true
        ]
    ]
    // TODO: Missing a step to update the release branch from the latest tag
];